ul.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  border-bottom: solid 1px #ddd;
  padding: 10px;
}

ul.menu li a {
  color: rgb(53, 53, 53);
  font-size: 24px;
}

ul.menu li a:hover {
  color: #999;
}

.content {
  padding: 10px;
  font-size: 24px;
}

.user-list {
  display: flex;
  flex-direction: column;
}